

.box-set {
  position: relative;
  top: 0;
  left:0;
  height: 600px;
  background: darkgray;
}


.box {
  /* relative positioning */
  position: absolute;
  left: 15%;
  right:35%;

}

.box-2 {
position: absolute;
left: 63%;
right: 3%;
margin: auto;

}
.picture {
  float: left;
  margin: 5px;
}
.header {
  text-align: center;
  background: black;
  color : white;
}






/* 
.box {
  position: fixed;
  
  margin: auto;
} */

/* Box rules: percentages define anchors (i.e. position of each box relative to browser window) */
